/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";
@import "tailwindcss";

* {
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font: inherit;
}

body {
  margin: 0;
}
